<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__STATIC__/admin/css/pintuer.css">
<link rel="stylesheet" href="__STATIC__/admin/css/admin.css">
<script src="__STATIC__/admin/js/jquery.js"></script>
<script src="__STATIC__/admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 产品信息</strong></div>
  <div class="padding border-bottom">  
  <button type="button" class="button border-yellow" onclick="window.location.href='{:url('haibao/jump')}'"><span class="icon-plus-square-o"></span> 添加产品</button>
  </div>  
  <div class="body-content">
    <table class="table table-border table-bordered table-bg">
    <thead>
      <tr class="text-c">
        <th>id</th>
        <th>海报</th>
        <th>关联页面</th>
        <th>状态(1:启用,2:禁用)</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {foreach name='list' item='vo'}
      <tr class="text-c">
        <td >{$vo.id}</td>
        <td ><a href="{:url("haibao/imgup")}?id={$vo.id}"><img src="__STATIC__/home/pic/{$vo.img}" width="100px" height="50px"></a></td>
        <td >{$vo.explain}</td>
        <td >{$vo.state}</td>
        <td align="center"><a href="{:url('haibao/edit')}?id={$vo.id}">修改 </a> | <a href="{:url('haibao/del')}?id={$vo.id}">删除</a></td>
      </tr>
      {/foreach}
    </table>
    <div class="col-md-12 text-center">
     <ul class="pagination">
      {$page}
      </ul>
    </div>   
  </div>
</div>

</body></html>