<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__STATIC__/admin/css/pintuer.css">
<link rel="stylesheet" href="__STATIC__/admin/css/admin.css">
<script src="__STATIC__/admin/js/jquery.js"></script>
<script src="__STATIC__/admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 简介信息</strong></div>
  <div class="padding border-bottom">  
  <button type="button" class="button border-yellow" onclick="window.location.href='{:url('about/jump')}'"><span class="icon-plus-square-o"></span> 添加简介</button>
  <form action="{:url('about/search')}" method="post">
          <input type="text" placeholder="请输入搜索关键字" name="search" class="input" style="width:250px; line-height:17px;display:inline-block" />
          <input type="submit" value="搜索" class="button border-main icon-search" onclick="changesearch()" >
      </form>
  </div>  <div class="body-content">
    <table class="table table-border table-bordered table-bg">
    <thead>
      <tr class="text-c">
        <th>id</th>
        <th>缩略图</th>
        <th>内容介绍</th>
        <th>禁用状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {foreach name='list' item='vo'}
      <tr class="text-c">
        <td>{$vo.id}</td>
        <td><a href="{:url("about/imgup")}?id={$vo.id}"><img src="__STATIC__/home/pic/{$vo.img}" width="100px" height="100px"></a></td>
        <td>{$vo.content}</td>
        <td>{$vo.state}</td>
        <td align="center"><a href="{:url('about/edit')}?id={$vo.id}">修改 </a> | <a href="{:url('about/del')}?id={$vo.id}">删除</a></td>
      </tr>
      {/foreach}
    </table> 
    <div class="col-md-12 text-center">
     <ul class="pagination">
      {$page}
      </ul>
    </div>
  </div>
</div>
</body></html>